@font-face {
  font-family: "icomoon";
  src: url("fontsTwo/icomoon.eot?90lrrt");
  src: url("fontsTwo/icomoon.eot?90lrrt#iefix") format("embedded-opentype"),
    url("fontsTwo/icomoon.ttf?90lrrt") format("truetype"),
    url("fontsTwo/icomoon.woff?90lrrt") format("woff"),
    url("fontsTwo/icomoon.svg?90lrrt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fontsTwo */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-thumb:after {
  content: "\1f5f8";
  display: inline-block;
  line-height: 24px;
  color: #df2c21;
}
.icon-icon-thumb-o:after {
  content: "\e901";
  display: inline-block;
  line-height: 24px;
}
